.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  width: 100%;
}

.containerTitle h3 {
  font-size: 2.98rem;
  padding: 35px 0;
}

.containerForm {
  width: 65%;
  max-width: 65%;
}

.containerForm .form {
  display: flex;
  flex-direction: column;
}

.form label {
  font-weight: 500;
  padding: 10px;
  padding-left: 0;
  font-size: 1rem;
}

.form input,
.form textarea {
  box-shadow: #dcbfff40 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  outline: none;
  border: transparent;
  padding: 15px 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  font-size: 0.833rem;
}

.form textarea {
  max-width: calc(100% - 40px);
}

.form button {
  margin: 10px auto;
  padding: 15px 25px;
  border: none;
  border-radius: 12px;
  background-color: #dcbfff;
  cursor: pointer;
  font-weight: 500;
}

@media only screen and (max-width: 1050px) {
  .containerTitle h3 {
    font-size: 2.44rem;
    padding: 15px 0;
  }

  .container {
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .containerTitle h3 {
    font-size: 1.7rem;
  }

  .form textarea {
    max-width: 64vw;
    max-height: 500px;
  }
}
