.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.containerTitle h3 {
  font-size: 2.98rem;
  padding: 35px 0;
  margin: 0;
}

.containerForm {
  width: 55%;
  max-width: 55%;
}

.containerForm .form {
  display: flex;
  flex-direction: column;
}

.form label {
  font-weight: 500;
  padding: 10px;
  padding-left: 0;
  font-size: 1rem;
}

.form input,
.form textarea {
  box-shadow: #d0a2f766 4px 4px 0px 0.5px;
  outline: none;
  border: transparent;
  border: 1px solid #d0a2f766;
  padding: 15px 20px;
  margin-bottom: 20px;
  font-size: 0.833rem;
}

.form textarea {
  max-width: calc(100% - 40px);
}

.form button {
  margin: 10px auto;
  padding: 15px 25px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  font-weight: 500;
  border: 1px rgba(208, 162, 247, 0.15) solid;
  transition: all 0.2s ease-in-out;
}

.form button:hover {
  box-shadow: #d0a2f7 0.5px 0.5px 1px 0.5px;
}

@media only screen and (max-width: 1050px) {
  .containerTitle h3 {
    font-size: 2.44rem;
    padding: 15px 0;
  }

  .container {
    padding-bottom: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .containerTitle h3 {
    font-size: 1.7rem;
  }

  .form textarea {
    max-width: 64vw;
    max-height: 500px;
  }
}
