.container {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.containerLinks {
  z-index: 100;
  box-shadow: rgba(208, 162, 247, 0.15) 0px 6px 24px 0px,
    rgba(208, 162, 247, 0.08) 0px 0px 0px 1px;
  border-radius: 0.5rem;
  margin: 1rem 0;
  display: flex;
  padding: 1rem 0;
  list-style: none;
  background-color: #ffffff;
}

.containerLinks li a {
  padding: 1rem 2rem;
  text-decoration: none;
  color: #000;
  font-weight: 400;
  letter-spacing: -1px;
  font-size: 0.95rem;
}

.containerDocs {
  background-color: transparent;
  border: none;
  display: flex;
  align-self: center;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  border: 1px rgba(208, 162, 247, 0.15) solid;
  background-color: #fff;
  position: absolute;
  left: 3%;
  top: -7%;
  cursor: pointer;
}

.containerDocs p {
  margin: 0;
  font-weight: 400;
  letter-spacing: -1px;
  font-size: 0.95rem;
}

.containerDocs svg {
  height: 20px;
  width: 20px;
  margin-left: 1rem;
}
