.container {
  display: flex;
  flex-direction: column;
  top: 2.5%;
  left: 3%;
  height: 95vh;
  position: fixed;
  width: 105px;
  border: 2px solid #d0a2f733;
  background-color: #fff;
  justify-content: space-between;
  z-index: 20;
  animation: close-bars 500ms forwards;
  border-radius: 15px;
}

.showCompleteHeader.container {
  overflow: hidden;
}

@keyframes close-bars {
  0% {
    width: 320px;
  }

  100% {
    width: 105px;
  }
}

.arrowRightHeader {
  display: flex;
  width: 100%;
  justify-content: start;
  margin-left: 35px;
  margin-top: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.arrowRightHeader svg {
  font-size: 35px;
  color: #161a30;
  transition: all 0.3s ease-in-out;
}

.arrowRightHeader.toLeft svg {
  transform: rotateY(180deg);
}

.containerButtons {
  margin-bottom: 30px;
}

.containerButtons ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 5px;
  align-items: start;
  padding-left: 30px;
  animation: move-container-to-start 500ms forwards;
}

@keyframes move-container-to-start {
  0% {
    padding-left: 45px;
  }
  100% {
    padding-left: 30px;
  }
}

.containerButtons ul li a {
  display: flex;
  flex-direction: row;
  gap: 25px;
  color: #161a30;
  align-items: center;
}

.containerButtons svg {
  height: 20px;
  width: 20px;
}

.containerIcon {
  display: flex;
  align-items: center;
  background-color: #d0a2f788;
  clip-path: inset(10% round 10px);
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  animation: put-clip-path-icon 350ms forwards;
}

@keyframes put-clip-path-icon {
  0% {
    background-color: #d0a2f7;
    clip-path: inset(0% round 10px);
  }

  100% {
    clip-path: inset(10% round 10px);
    background-color: #d0a2f788;
  }
}

.hoverIconButton .containerIcon {
  clip-path: inset(0% round 10px);
  animation: remove-clip-path-icon 350ms forwards;
}

@keyframes remove-clip-path-icon {
  0% {
    background-color: #d0a2f788;
    clip-path: inset(10% round 10px);
  }

  100% {
    background-color: #d0a2f7;
    clip-path: inset(0% round 10px);
  }
}

.containerButtons ul li p {
  transform: translateX(-100%);
  opacity: 0;
  display: none;
  position: absolute;
  font-size: 0.833rem;
  width: 100px;
  left: 100%;
  margin: 0;
  transition: all 0.3s ease-in-out;
  font-weight: 500;
}

@keyframes move-out-text {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }

  75% {
    opacity: 1;
    transform: translateX(0%);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translateX(-100%);
    display: none;
  }
}

.showText p {
  transform: translateX(0%);
  display: inherit !important;
  animation: move-in-text 200ms forwards cubic-bezier(0.19, 1, 1, 1);
}

@keyframes move-in-text {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
    display: inherit;
  }
}

.containerTitle a {
  color: #333;
  text-decoration: none;
}

.headerResponsiveIsOpen {
  display: inherit;
  transition: all 0.2s ease-in-out;
}

.headerResponsiveIsClose {
  transition: all 0.2s ease-in-out;
  display: none !important;
}

.containerResponsive {
  display: none;
  position: fixed;
  width: 100%;
  flex-direction: column;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  z-index: 20;
  transition: all 0.2s ease-in-out;
  height: 75px;
  animation: close-bars-responsive 500ms forwards;
}

@keyframes close-bars-responsive {
  from {
    height: 300px;
  }

  to {
    height: 75px;
  }
}

.containerResponsiveOpen {
  height: 300px;
  animation: open-bars-responsive 500ms forwards;
}

@keyframes open-bars-responsive {
  from {
    height: 75px;
  }

  to {
    height: 300px;
  }
}

.containerResponsive .barsOpen {
  transform: rotate(-180deg);
  transition: all 0.2s ease-in-out;
}

.barsResponsive {
  transition: all 0.2s ease-in-out;
}

.containerLinksButtons {
  height: 150px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin: 20px 0;
  animation: open-navbar-responsive 500ms forwards;
}

@keyframes open-navbar-responsive {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.headerResponsive {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px;
  align-items: center;
}

.headerResponsive svg {
  font-size: 30px;
  transform: rotate(90deg);
}

.headerResponsive div {
  display: flex;
  justify-content: center;
}

.containerButtonsResponsive {
  display: flex;
  align-items: center;
}

.containerResponsive .containerLinks {
  margin: 20px 0;
  justify-content: center;
}

.containerButtonsResponsive ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.containerButtonsResponsive ul li a {
  color: #333;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.containerButtonsResponsive ul li a p {
  font-size: 0.733rem;
  margin: 5px;
}

.containerButtonsResponsive ul li a svg {
  width: 15px;
  height: 15px;
}

.containerButtonsResponsive .containerIcon {
  width: 15px;
  height: 15px;
  padding: 10px 15px;
  border-radius: 5px;
}

.containerTitleLinks {
  display: none;
  align-self: flex-start;
  height: 100%;
}

.showCompleteHeader .containerTitleLinks {
  display: inherit;
  animation: open-container-title-links 500ms forwards
    cubic-bezier(0.19, 1, 1, 1);
}

@keyframes open-container-title-links {
  0% {
    opacity: 0;
    transform: translateX(-100%);
    display: none;
  }

  25% {
    opacity: 0;
    transform: translateX(-100%);
    display: inherit;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.showCompleteHeader.container {
  width: 320px;
  animation: open-bars 500ms forwards;
}

@keyframes open-bars {
  0% {
    width: 105px;
  }

  100% {
    width: 320px;
  }
}

.showCompleteHeader .arrowRightHeader {
  justify-content: start;
  margin-left: 35px;
}

.showCompleteHeader .containerButtons ul {
  padding-left: 45px;
  animation: move-container-to-center 500ms forwards;
}

@keyframes move-container-to-center {
  0% {
    padding-left: 30px;
  }
  100% {
    padding-left: 45px;
  }
}

.showCompleteHeader .containerButtons ul li {
  width: 100%;
}

.showCompleteHeader .containerButtons ul li p {
  transform: translateX(0%);
  opacity: 1;
  display: inherit;
  position: inherit;
  width: 85px;
  padding: 0;
  padding-left: 10px;
  border-radius: 10px;
  animation: open-container-buttons 500ms forwards cubic-bezier(0.19, 1, 1, 1);
}

@keyframes open-container-buttons {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  25% {
    opacity: 0;
    transform: translateX(-30%);
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.showCompleteHeader .containerButtons ul li a {
  text-decoration: none;
  gap: 0px;
  color: #161a30;
}

.showCompleteHeader .showText p {
  transform: none;
  display: inherit !important;
  animation: none;
  color: #d0a2f7;
}

.showCompleteHeader .containerIcon {
  display: flex;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.showCompleteHeader .containerTitleLinks {
  display: flex;
}

.containerTitleLinks {
  margin-top: 50px;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.containerLinks {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin-top: 35px;
}

.containerTitle {
  position: relative;
  align-self: center;
}

.title {
  font-size: 2.48rem;
  font-weight: 800;
  letter-spacing: -1.5px;
  cursor: pointer;
  margin: 0;
}

.titleDecoration {
  position: absolute;
  top: 100%;
  z-index: 50;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.decoration {
  width: 100%;
  display: block;
  height: 3.5px;
  border-radius: 5px;
}

.deco1 {
  margin-bottom: 2px;
}

.deco1::before {
  content: "";
  display: block;
  width: 100%;
  height: 3.5px;
  background-color: #161a30;
  clip-path: inset(0 95% 0 0 round 50px);
  border-radius: 5px;
  animation: pulse-deco-left 500ms ease-in-out forwards 0.4s;
}

.deco1::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 3.5px;
  background-color: #d0a2f7;
  clip-path: inset(0 0 0 95% round 50px);
  border-radius: 5px;
  animation: pulse-deco-right 500ms ease-in-out forwards 0.4s;
}

.title a,
.containerLinks li a {
  color: #333333;
  text-decoration: none;
}

.containerLinks li {
  align-self: center;
}

.containerLinks li a {
  font-size: 0.933rem;
  font-weight: 500;
  letter-spacing: -1.2px;
  cursor: pointer;
}

.containerLinks li {
  position: relative;
}

.containerLiEmail {
  position: relative;
}

.containerLinks li::after {
  content: "";
  display: block;
  width: 100%;
  height: 3.5px;
  clip-path: inset(0 25% 0 0);
}

.hoveringLi::after {
  content: "";
  display: block;
  width: 100%;
  height: 3.5px;
  background-color: #161a30;
  clip-path: inset(0 25% 0 0 round 50px);
  animation: ease-in-width-from-left 500ms forwards;
  border-radius: 5px;
}

.hoveringLi::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3.5px;
  background-color: #d0a2f7;
  clip-path: inset(0 0 0 80% round 50px);
  animation: ease-in-width-from-right 500ms forwards;
  bottom: 0;
  border-radius: 5px;
}

.withoutHoveringLi::after {
  content: "";
  display: block;
  width: 100%;
  height: 3.5px;
  background-color: #161a30;
  clip-path: inset(0 100% 0 0 round 50px);
  border-radius: 5px;
  animation: ease-out-width-from-left 500ms forwards;
}

.withoutHoveringLi::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 3.5px;
  background-color: #d0a2f7;
  clip-path: inset(0 0 0 100% round 50px);
  bottom: 0;
  border-radius: 5px;
  animation: ease-out-width-from-right 500ms forwards;
}

.containerLiEmail p {
  padding-left: 40px;
}

.containerIconCopy {
  position: absolute;
  right: 8%;
  background-color: #d0a2f788;
  padding: 5px;
  border-radius: 5px;
  z-index: 50;
  display: flex;
  top: 20%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
  transition: all 0.3s ease-in-out;
}

.containerIconCopy:hover {
  background-color: #d0a2f7;
  transition: all 0.3s ease-in-out;
}

.showCompleteHeader .containerIconCopy {
  display: flex;
  animation: open-container-buttons 500ms forwards cubic-bezier(0.19, 1, 1, 1);
}

.containerIconCopy svg {
  width: 12.5px;
  height: 12.5px;
  color: #161a30;
}

@keyframes ease-in-width-from-left {
  0% {
    clip-path: inset(0 100% 0 0 round 50px);
  }

  100% {
    clip-path: inset(0 25% 0 0 round 50px);
  }
}

@keyframes ease-in-width-from-right {
  0% {
    clip-path: inset(0 0 0 100% round 50px);
  }

  100% {
    clip-path: inset(0 0 0 80% round 50px);
  }
}

@keyframes ease-out-width-from-left {
  0% {
    clip-path: inset(0 25% 0 0 round 50px);
  }

  100% {
    clip-path: inset(0 100% 0 0 round 50px);
  }
}

@keyframes ease-out-width-from-right {
  0% {
    clip-path: inset(0 0 0 80% round 50px);
  }

  100% {
    clip-path: inset(0 0 0 100% round 50px);
  }
}

@keyframes pulse-deco-right {
  0% {
    clip-path: inset(0 0 0 90% round 50px);
  }

  100% {
    clip-path: inset(0 0 0 40% round 50px);
  }
}

@keyframes pulse-deco-left {
  0% {
    clip-path: inset(0 90% 0 0 round 50px);
  }

  100% {
    clip-path: inset(0 65% 0 0 round 50px);
  }
}

@media only screen and (max-width: 900px) {
  @keyframes close-bars {
    0% {
      width: 220px;
    }

    100% {
      width: 105px;
    }
  }

  .showCompleteHeader.container {
    width: 220px;
  }

  @keyframes open-bars {
    0% {
      width: 105px;
    }

    100% {
      width: 220px;
    }
  }

  .title {
    font-size: 2rem;
  }
  .containerLinks li a {
    font-size: 0.833rem;
  }

  .showCompleteHeader .containerButtons ul {
    padding-left: 25px;
    animation: none;
  }

  .containerButtons ul {
    animation: none;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    display: none;
  }

  .containerResponsive {
    display: flex;
    width: 100%;
  }

  .title {
    font-size: 1.5rem;
  }

  .barsResponsive {
    height: 25px;
    width: 25px;
  }
}
