.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  min-height: 100vh;
}

.containerPhotoInfoAndButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.containerImg {
  position: relative;
}

.containerImg img {
  width: 325px;
  height: auto;
  box-shadow: #d0a2f766 4px 4px 0px 0.5px;
  border: 1px solid #d0a2f766;
  margin-right: 75px;
}

.containerInfo {
  position: relative;
}

.containerInfo h3 {
  font-weight: 300;
  font-size: 2.98rem;
  margin: 0;
  padding: 0;
}

.containerInfo h3 span {
  font-weight: 100;
  color: #d0a2f7;
}

.containerInfo h2 {
  font-weight: 100;
  color: #d0a2f7;
  font-size: calc(2.5rem * 2);
  margin: 0;
  padding: 0;
}

.containerInfo p {
  font-weight: 500;
}

.containerInfo p span {
  font-weight: 100;
  color: #d0a2f7;
}

.containerArrowDown {
  font-size: 1.5rem;
  position: absolute;
  bottom: 2%;
}

.containerArrowDown a {
  color: #000;
  border: 1px rgba(208, 162, 247, 0.15) solid;
  background-color: #ffffff;
  padding: 0.3rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.containerArrowDown a:hover {
  box-shadow: #d0a2f7 0.5px 0.5px 1px 0.5px;
}

@media only screen and (max-width: 1700px) {
  .containerInfo h3 {
    font-size: 2.07rem;
  }

  .containerInfo h2 {
    font-size: calc(2.07rem * 2);
  }

  .decorationUpRight {
    top: -50%;
    right: -10%;
  }
  .copyDecorationUpRight {
    top: -53%;
    right: -10%;
  }
}

@media only screen and (max-width: 1475px) {
  .containerImg img {
    width: 305px;
  }

  .containerInfo h3 {
    font-size: 1.7rem;
  }

  .containerInfo h2 {
    font-size: calc(1.7rem * 2);
  }

  .decorationUpRight {
    top: -60%;
    right: -10%;
  }
  .copyDecorationUpRight {
    top: -63%;
    right: -10%;
  }
}

@media only screen and (max-width: 1375px) {
  .decorationUpRight {
    display: none;
  }
}

@media only screen and (max-width: 1050px) {
  .containerImg img {
    width: 260px;
  }

  .containerInfo h3 {
    font-size: 1.433rem;
  }

  .containerInfo h2 {
    font-size: calc(1.433rem * 2);
  }

  .containerInfo p {
    font-size: 0.833rem;
  }

  .anchorIcons svg {
    font-size: 1.5rem;
  }

  .containerButtons a {
    font-size: 0.833rem;
  }

  .containerButtons li:last-child a svg {
    font-size: 1.5rem;
  }

  .containerButtons p {
    font-weight: 500;
    font-size: 0.833rem;
  }
}

@media only screen and (max-width: 900px) {
  .containerPhotoInfoAndButtons {
    flex-direction: column;
  }

  .containerImg {
    margin-bottom: 20px;
  }

  .containerInfo h2,
  .containerInfo h3,
  .containerInfo p {
    text-align: center;
  }

  .containerButtons {
    justify-content: center;
  }

  .decorationDownRight {
    top: 65%;
    right: -40%;
  }

  .decorationDownRight div {
    height: 35px;
  }

  .copyDecorationDownRight {
    top: 62%;
    right: -40%;
  }

  .containerImg img {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    height: 100dvh;
    width: 100%;
  }

  .container img {
    width: 200px;
    margin: 0;
  }

  .containerPhotoInfoAndButtons {
    padding: 0px;
    height: 100dvh;
  }

  .containerInfo {
    width: 90% !important;
  }

  .containerButtons li:last-child a p {
    font-weight: 500;
    padding: 0;
    margin: 0;
  }

  .containerButtons li:last-child a svg {
    font-size: 1.8rem;
  }

  .containerInfo {
    width: 100%;
  }

  .decorationUpLeft div {
    height: 20px;
  }

  .decorationDownRight div {
    height: 20px;
  }

  .containerInfo h3 {
    font-size: 1rem;
  }

  .containerInfo h2 {
    font-size: calc(1rem * 2);
    margin: 10px 0;
  }

  .containerInfo p {
    font-size: 0.733rem;
    margin: 0;
  }
}
