$font-h3: 2rem;
$font-title: 3rem;
$border-color:#33333388;
$background-color: #24242B;
$background-color-hovered: #44444433;
$accent-color: #9694fe;
$svg-size: 17px;
$font-p: 0.82rem;

@mixin tablet {
    @media screen and (max-width: 1000px){
        @content
    }
}

@mixin mobile {
    @media screen and (max-width: 600px){
        @content
    }
}

.container-about-me {
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;

    @include mobile() {
        margin-bottom: 3rem;
    }

    h2 {
        margin: 0;
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: $font-h3;
        color: #fff;
        
        svg {
            width: 30px;
            height: 30px;
            color: #fff;
        }
    }

    .container-about-me-info {
        display: flex;
        align-items: center;
        gap: 8rem;

        @include tablet() {
            gap: 1rem;
            flex-direction: column-reverse;
            margin-top: 2rem;
        }
        p {
                text-wrap: pretty;
                font-size: calc($font-h3/2.2);    
                line-height: 1.5rem;
                color: #fff;

                span {
                    color: $accent-color;
                }

        }

        .container-images {
            background-image: url("../imgs/Ceon_Img_about_me_small.webp");
            border-radius: 25px;
            width: 250px;
            min-width: 250px;
            background-position: center;
            background-size: cover;
            aspect-ratio: 1/1;
            border: 1px solid $border-color;
            min-height: 100%;

            @include tablet() {
                align-self: center;
            }
            img {
                opacity: 0;
                width: 100%;
                aspect-ratio: 1/1;
                object-fit: cover;
                object-position: center;
                border-radius: 25px;
            }
        }
    }
    
}


