
@mixin tablet {
    @media screen and (max-width: 1000px){
        @content
    }
}

@mixin mobile {
    @media screen and (max-width: 600px){
        @content
    }
}

.container-viewer {
    background-color: #00000083;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.container-viewer-things {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
    height: 100%;
}

.container-viewer-things {
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: column;
    justify-content: center;

    .container-exit {
        cursor: pointer;
        position: absolute;
        top: 3%;
        right: 5%;

        svg {
            width: 25px;
            height: 25px;
        }
    }

    img {
        width: 60%;
        object-fit: contain;
        user-select: none;

        @include mobile() {
            width: 90%;
        }
    }
}