$border-color:#33333388 ;
$background-color: #24242B;
$background-color-hovered: #44444433;
$font-p: 0.82rem;

@mixin tablet {
    @media screen and (max-width: 1000px){
        @content
    }
}

@mixin mobile {
    @media screen and (max-width: 600px){
        @content
    }
}

@mixin keyframes($name) {
    @keyframes #{$name} {
        @content
    }
}

@mixin animate($animation, $duration, $method, $times) {
    animation: $animation $duration $method $times;
}

.container-header-main {
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
}

.container-header {
    display: flex;
    justify-content: center;
    margin: .8rem;
    width: 100%;
    z-index: 1;
}

.container-nav {
    position: relative;
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
    padding: .5rem 1rem;


    @include mobile() {
        padding: .2rem .75rem;
    }

    background-color: $background-color;
    border-radius: 25px;
    border:1px solid $border-color;

    li {
        user-select: none;
        &:not(.container-go-back-top-li):not(.container-change-language)  {
            padding: .5rem 0;
            a {
                text-decoration: none;
                color: #fff;
                padding: .4rem .6rem;
                letter-spacing: -.8px;
                border: 1px solid transparent;
                font-size: $font-p;
                transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1);
        
                &:hover {
                    background-color: $background-color-hovered;
                    border: 1px solid $border-color;
            }
            }
        }


        &:nth-child(2) {
            a {

                border-radius: 25px 3px 3px 25px;
            }
        }
        &:nth-child(3) {
            a {

                border-radius: 3px;
            }
        }
        &:nth-child(4) {
            a {

                border-radius: 3px 25px 25px 3px;
            }
        }
    }
}


.icon-go-back-top {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #fff;
    margin-left: 2rem;
    position:absolute;
    height: 100%;
    display: flex;
    top: 0%;
    
    @include mobile() {
    margin-left: 1rem;
    }

    svg {
        padding: .5rem;
        border-radius: 25px;
        background-color: $background-color;
        border: 1px solid $border-color;
        width: 20px;
        height: 20px;
        transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1);
        
        @include mobile() {
            padding: .4rem;
            width: 14px;
            height: 14px;
        }

        &:hover {
            background-color: $background-color-hovered;
            border: 1px solid $border-color;
        }
    }
}

.show-back-top{
    visibility: visible;
    opacity: 1;
    top: 0;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hide-back-top{
    visibility: hidden;
    opacity: 0;
    top: -100%;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.change-language {
    position: absolute;
    color: #fff;
    background-color: $background-color;
    border-radius: 15px;
    border: 1px solid $border-color;
    height: 45.5px ;

    overflow: hidden;
    left: -24.5%;
    top: 3%;
    transition: all .4s cubic-bezier(0.165, 0.84, 0.44, 1);

    @include mobile() {
        height: 35px;
        left: -18.5%;
        top: 6%;
    }

    &:hover {
        height: 135px !important;
    
        @include mobile() {
            height: 112px  !important;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        
        li {
            cursor: pointer;
            padding: .8rem !important;

            @include mobile() {
                padding: .6rem !important;
            }

            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid $border-color;
            

            &:nth-child(1) {
                border-radius: 15px 15px 0 0;
            }

            &:nth-child(3) {
                border-bottom: none;
                border-radius: 0 0 15px 15px;
            }
            

            button {
                border: none;
                background: transparent;
                padding: 0;
                width: 20px;
                height: 20px;
                cursor: pointer;
                @include mobile() {
                    width: 16px;
                    height: 16px;
                }

                svg {
                    width: 100%;
                    height: 100%;
                }
            }

            p {
                margin: 0;
                font-size: 20px;
                @include mobile() {
                    font-size: 16px;
                }
            }

            &:hover {
                background-color: $background-color-hovered;
            }
        }

    }
}