$border-color:#33333388 ;
$background-color: #24242B;
$background-color-hovered: #44444433;
$font-p: 0.82rem;
$separation: -24.5%;
$separation-mobile: -18.5%;
$font-smaller: 0.8rem; // small
$font-smaller-responsive:calc($font-smaller / 1.1); // small

@mixin tablet {
    @media screen and (max-width: 1000px){
        @content
    }
}

@mixin mobile {
    @media screen and (max-width: 600px){
        @content
    }
}

@mixin keyframes($name) {
    @keyframes #{$name} {
        @content
    }
}

@mixin animate($animation, $duration, $method, $times) {
    animation: $animation $duration $method $times;
}

.container-header-main {
    position: fixed;
    width: 100%;
    display: flex;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
}

.container-header {
    display: flex;
    justify-content: center;
    position: relative;
    margin: .8rem;
    width: 100%;
    z-index: 1;
    max-height: 50px;
}

.container-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    gap: 1rem;
    height: 100%;
    user-select: none;

    @include mobile() {
        gap: .2rem;
    }


    .container-change-language, .container-go-back-top-li {
        align-items: center;
        display: flex;
    }

    .container-change-language {
        align-items: start;

        @include mobile() {
            margin-top: 3px;
        }

        .change-language {
            ul {
                height: 43px;
                overflow: hidden;
                list-style: none;
                padding: 0;
                margin: 0;
                background-color: $background-color;
                border: 1px solid $border-color;
                border-radius: 25px;
                cursor: pointer;
                transition: all .5s cubic-bezier(0.165, 0.84, 0.44, 1);

                @include mobile() {
                    height: 35px;
                }

                &:hover {
                    height: 130.5px;

                    @include mobile() {
                        height: 105px;
                    }
    
                }
                
                li:first-child {
                    border-radius:  20px 20px 0 0;
                }
    
                li:last-child {
                    border-radius: 0 0 20px 20px;
                }
    
                li {
                    padding: 0.75rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all .35s cubic-bezier(0.165, 0.84, 0.44, 1);
                    
                    &:hover {
                        background-color: $background-color-hovered;
                    }
                    
                    @include mobile() {
                        padding: 0.7rem;
                    }

                    button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: none;
                        background-color: transparent;
                        padding: 0;
                        svg {
                            width: 18px;
                            height: 18px;
                        
                            @include mobile() {
                                width: $font-smaller;
                                height: $font-smaller;
                            }
                        }
                    }
                    p {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 20px;
                        height: 20px;
                        font-size: 20px;
                        @include mobile() {
                            width: $font-smaller;
                            height: $font-smaller;
                            font-size: $font-smaller;
                        }
                        margin: 0;
                        padding: 0;
                        color: #fff;
                    }
                }
            }
        }
    }

    .container-go-back-top-li {
        background-color: $background-color;
        border-radius: 25px;
        align-self: flex-start;
        margin-top: 2px;

        @include mobile() {
            margin-top: 5px;
        }

        .icon-go-back-top {
            background-color: $background-color;
            border-radius: 25px;
            padding: 0.6rem;
            border: 1px solid $border-color;
            width: 18px;
            height: 18px;
            text-decoration: none;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;

            @include mobile() {
                padding: 0.4rem ;
                width: 17px;
                height: 17px;
            }


            &:hover {
                background-color: $background-color-hovered;
            }

            svg {
                width: 20px;
                height: 20px;

                @include mobile() {
                    width: 17px;
                    height: 17px;
                }
    
            }
        }

    }

    .hide-back-top {
        visibility: 0;
        transform: translateY(-180%);
        transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .show-back-top {
        visibility: 1;
        transform: translateY(0%);
        transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    .list-item-container-links-page {
        ul {
            display: flex;
            list-style: none;
            margin: 0;
            background-color: $background-color;
            border-radius: 25px;
            border:1px solid $border-color;
            padding: 0;
            li {
                &:first-child {
                    a {
                        border-radius: 25px 0 0 25px;
                    }
                }

                &:last-child {
                    a {
                        border-radius: 0 25px 25px 0;
                    }
                }
                a {
                    display: inline-block;
                    padding: .8rem 1rem;

                    @include mobile() {
                        padding: 0.8rem ;
                    }

                    text-decoration: none;
                    color: #fff;
                    letter-spacing: -.5px;
                    transition: all .2s cubic-bezier(0.165, 0.84, 0.44, 1);

    

                    &:hover {
                        background-color: $background-color-hovered;
                    }
                }
            }
        }
    }
 }